{% extends "base.html" %}

{% block conteudo %}
    {% set mensagens = get_flashed_messages() %} 
    {% if mensagens %}
        {% for msg in mensagens %}
           {{ msg }}
        {% endfor %}
    {% endif %}
    
    <form action="/usuario/editasave" method="post">
        <input type="hidden" name="id_equipamento" value="{{dados.id_equipamento}}">
        <label for="nome">Nome:</label>
        <input type="text" name="nome" id="nome" value="{{dados.nome}}">
        <label for="text">codigo</label>
        <input type="text" name="codigo" id="codigo" value="{{dados.codigo}}">
        <label for="data_aquisicao">data_aquisicao</label>
        <input type="date" name="data_aquisicao" id="data_aquisicao" value="{{dados.data_aquisicao}}">
        <button type="submit">Salvar</button>


    </form>

{% endblock %}